@charset "utf-8";
/* CSS Document */
*
{
	margin: 15px;
}
.NAvP
{
	font-size: 28px;
	margin: 20px;
}
.PrimeraP
{
	text-align: right;
	margin: 25px;
	
	
}
.aztra
{
	position: relative;
	left: 100px;
	filter:grayscale(90%);
	color: rgba(213,213,213,1.00);
}
.sputnik
{
	position: relative;
	left: 400px;
	top: -160px;
	filter:grayscale(90%);
	color: rgba(213,213,213,1.00);
}
.pfizer
{
	position: relative;
	left: 500px;
	top: -150px;
}
.moderna
{
	position: relative;
	left: 600px;
	top: -150px;
}

.Vacina
{
	text-align: left;
	color: blue;
	position: absolute;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 32px;
}
.HOAX
{
	background-color: blue;
	color: white;
	border-radius: 5px; 
	width: 120px;
	height: 35px;
}
#h11
{
	color: #1c3c74;
	font-size: 70px;
	position: absolute;
	left: 70px;
}
.foto1
{
	position: absolute;
	top: 60px;
	left:710px;
	z-index: -1;
	
	
	
}
.foto1T
{
	position: absolute;
	top: 280px;
	left: 70px;
	font-size: 22px;
}
.protectionZ
{
	position: absolute;
	top: 460px;
	left:110px;
	color:  #324e7d;
	font-size: 20px;
}
.check
{
	position: absolute;
	top: 460px;
	left: 70px;	
	
}
.square1
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 25px;
	background-color:rgba(252,252,233,0.7);
}
.SelcetedT
{
	position: absolute;
	top: 460px;
	left:280px;
	font-size: 20px;
	color:  #324e7d;
}
.selectedSimbol
{
	position: absolute;
	top: 460px;
	left:250px;
}
.selectedSquare
{
	position: absolute;
	top: 470px;
	left:260px;
	height: 30px;
	width: 25px;
	background-color:rgba(252,252,233,0.7);
}
.schedule
{
	position: absolute;
	top: 650px;
	left: 130px;
	font-size: 24px;
	color:   #35507e;
}
.scheduleSymbol
{
	position: absolute;
	top: 650px;
	left: 80px;
}
.scheduleSquare
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 25px;
	background-color:rgba(53, 84, 207, 0.5);
}
.seccion2
{
	padding: 50px;
	border:solid;
	width: 1050px;
	height: 50px;
	
	border-color: aliceblue;
	z-index: 1;
	background-color: aliceblue;
}
.seccion2Location
{
	color:  #9aa4b4;
	font-size: 22px;
	position: absolute;
	top: 850px;
	left: 160px;
	
}
.JKU
{
	color:#314d7f;
	font-size: 26px;
	position: relative;
	top: -20px;
	
}
.seccion2Symbol
{
	position: absolute;
	top:-30px;
	left:-35px;
	
}
.seccion2Date
{
	color:  #9aa4b4;
	font-size: 22px;
	position: absolute;
	top: 850px;
	left: 360px;
}
.DateSection
{
	color:#314d7f;
	font-size: 26px;
	position: relative;
	top: -20px;
}
.sectionDateSymbo
{
	position: relative;
	top: -100px;
	left: -50px;
}
.seccion2VType
{
	color:  #9aa4b4;
	font-size: 22px;
	position: absolute;
	top: 850px;
	left: 560px;
}
.vacune
{
	color:#314d7f;
	font-size: 26px;
	position: relative;
	top: -20px;
}
.sectionVSymbol
{
	position: relative;
	top: -100px;
	left: -50px;
}
.submitOption
{
	position: relative;
	top: -10px;
	left: 700px;
	
	z-index: 1;
	background-color: blue;
	color: white;
	border-radius: 5px; 
	width: 150px;
	height: 55px
	

}
.answerS
{
	position: relative;
	top: -250px;
	left:50px;
	color: #1c3c74;
	font-size: 38px;
}
.answerR
{
	color: gray;
	font-size: 25px;
	position: relative;
	top: -180px;
	left: 50px;
}
.card1S1
{
	position: relative;
	top: -150px;
	width: 330px;
	height: 430px;
}
.card1S2
{
	position: relative;
	left: 300px;
	top:-225px;
}
.card1S3
{
	position: relative;
	left: 600px;
	top: -425px;
}
.card1S4
{
	position: relative;
	left: 950px;
	top: -625px;
}
.Section3
{
	text-align: right;
	position: absolute;
	right: 150px;
	top: 1850px;
	
}
.h23
{
	color: #1c3c74;
	font-size: 50px;

}
.imagen2
{
	position: absolute;
	left: -650px;
	top: 100px;
}
.preparation
{
	font-size: 22px;
	justify-content: center;
	text-align: left;
	position: relative;
	left: 10px;
}
.avoid
{
	position: relative;
	left: 25px;
}
.cajaS3
{
	display: flex;
	position: relative;
	color: black;
	border: solid;
	border-color: black;
	width: 15px;
	height: 20px;
	left: 15px;
	background-color: rgba(116,93,241,0.60)
}
.card2S1
{
	font-size: 15px;
	color:#314d7f;
	display: flex;
	border: solid;
	border-color: gray;
	width: 480px;
	position: relative;
	
}
.des
{
	display: flex;
	border: solid;
	border-color: blue;
	widows: 18px;
	color: #314d7f;
	position: relative;
	
}
.Va
{
	position: relative;
	left: 80px;
	top: -10px;

}
.section3Symbol1
{
	position:relative;
	left: -525px;
	top: -100px;
}.card2S2
{
	display: flex;
	border: solid;
	border-color: gray;
	width: 480px;
	height: 200px;
	position: relative;
	top: -50px;
}
.titleh2
{
	font-size: 25px;
	position: relative;
	left: -190px;
}
.card2S2Symb
{
	position: relative;
	top: -55px;
	left:-315px;
}
.DownSsymb
{
	position: relative;
	top: -130px;
	left: 70px;
}

.secrtion3T
{
	text-align: left;
	justify-content: center;
	position: relative;
	top: -150px;
	font-size: 18px;
}
.card2S3
{
	display: flex;
	border: solid;
	width: 480px;
	height: 50px;
	position: relative;
	top: -50px;
	color:#314d7f;
}
.eat
{
	position: relative;
	top: -100px;
	left: 20px;
}
.eatS
{
	position: relative;
	top: 65px;
	left: -150px;
}
.sleep
{
	position: relative;
	top: -100px;
	left: 20px;
}
.sleepS
{
	position: relative;
	top: 55px;
	left: -165px;
}
.Exercise
{
	position: relative;
	top: -15px;
	left: -50px;
}
.exerciseS
{
	position: relative;
	top: -10px;
	left: 0px;
}
.Section3Contac
{
	position: relative;
	top: 900px;
}
.sectionContact
{
	font-size: 48px;
	color: #314d7f;
}
.contactText
{
	position: relative;
	text-align: left;
	justify-content:flex-start;
	left: 0px;
	font-size: 20px;
	
	width: 560px;
}
.seguimiento
{
	position: absolute;
	top: 2750px;
	left: 850px;
}
.ContactUs
{
	text-align: left;
	position: relative;
	top: 1050px;
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	height: 280px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.contactCall
{
	position: relative;
	color: #314d7f;
}
.call
{
	position: relative;
	top: -76px;
	font-size: 22px;
	left: 60px;
}
.numeroCall
{
	position: relative;
	top: -85px;
	left: 65px;
}
.buttonCall
{
	position: relative;
	top: -50px;
	left: 25px;
	width: 150px;
	height: 55px;
	border-radius: 5px;
	background-color: #d4dcf4;
	color: #506cd6;
	font-size: 18px;
}
.chatNow
{
	text-align: left;
	position: relative;
	top: 753px;
	left: 350px;
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	height: 280px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	
}
.chatT
{
	position: relative;
	color: #314d7f;
	font-size: 25px;
	left: 65px;
	top:-75px;
	
}
.numeroChat
{
	position: relative;
	left: 75px;
	top: -80px;
}
.chatB
{
	position: relative;
	top: -50px;
	left: 25px;
	width: 150px;
	height: 55px;
	border-radius: 5px;
	background-color: blue;
	color: white;
	font-size: 18px;
}
.videoCall
{
	text-align: left;
	position: relative;
	top: 800px;
	left: 0px;
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	height: 280px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.videoT
{
	position: relative;
	color: #314d7f;
	font-size: 25px;
	left: 65px;
	top:-72px;
}
.videonum
{
	position: relative;
	left: 75px;
	top: -80px;
}
.CallB
{
	position: relative;
	top: -50px;
	left: 25px;
	width: 150px;
	height: 55px;
	border-radius: 5px;
	background-color: blue;
	color: white;
	font-size: 18px;
}
.messageSection
{
	text-align: left;
	position: relative;
	top: 500px;
	left: 350px;
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	height: 280px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.meessageT
{
		position: relative;
	color: #314d7f;
	font-size: 25px;
	left: 65px;
	top:-72px;
}
.messageNum
{
	
	position: relative;
	left: 75px;
	top: -80px;
}
.messageB
{
	position: relative;
	top: -50px;
	left: 25px;
	width: 150px;
	height: 55px;
	border-radius: 5px;
	background-color: blue;
	color: white;
	font-size: 18px;
}
.ultima
{
	text-align: left;
	position: relative;
	top: 750px;
	left: -40px;
	display: flex;
	flex-wrap: wrap;
	width: 1520px;
	height: 380px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	background-color: aliceblue;
}
.tituloU
{
	color: blue;
	font-size: 28px;
	position: relative;
	left: 50px;
}
.yiyuloT
{
	text-align: left;
	position: relative;
	left: 50px;
	font-size: 18px;
	color: gray;
}
.titulo2U
{
	position: relative;
	left: 650px;
}
.titulo2UT
{
	position: relative;
	left: 650px;
	text-align: left;
	color: gray;
	font-size: 18px;
}
.company
{

	position: relative;
	left: 650px;
}
.company1
{
	position: relative;
	left: 650px;
	text-align: left;
	color: gray;
	font-size: 18px;
}
.support
{
	position: relative;
	left: 650px;
}
.suppor1
{
	position: relative;
	left: 650px;
	text-align: left;
	color: gray;
	font-size: 18px;
}
.dr
{
	position: relative;
	left: -650px;
	top: 250px;
	color: gray;
	font-size: 18px;
}
.terms
{
	position: relative;
	left: 300px;
	top: 214px;
	color: gray;
	font-size: 18px;
}
.privacy
{
	position: relative;
	left: 500px;
	top: 178px;
	color: gray;
	font-size: 18px;
}