@charset "utf-8";
/* CSS Document */

body
{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Pexels-photo-132694.jpg/1200px-Pexels-photo-132694.jpg);
	background-size: cover;
}
h1
{
	text-align: center;
	color: purple;
	font-style: italic;
	font-size: 40;
}
.Datos
{
	position: absolute;
	left: 850px;
	top: 0px;
}
.TextoTitle
{
	text-align: center;
	color: darkblue;
	font-style: oblique;
	text-decoration: overline;
	font-size: 28;
}
.PCH
{
	width: 200px;
	height: 200px;
	margin: 1em;
	padding: 1em;
	position: absolute;
	left: 50px;
	
}
.PFR
{
	
	
	margin: 1em;
	padding: 1em;
	position: absolute;
	
	left: 300px;
}
.P3L
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 550px;
}
.PVL
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 800px;
}
.PNZ
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 1050px;
}
.PNNR
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50px;
	top: 500px;
}
.PDCR
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 300px;
	top: 500px;
}
.PSH
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 550px;
	top: 500px;
}


.Th2
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 550px;
	top: 700px;
}
.Parte1D
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	left: -300px;
	font-size: 22px;
	color: black;
	border-style: solid;
	border-color: gold;
}
.Parte2D
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	left: 00px;
	top: 105px;
	font-size: 22px;
	color: black;
	border-style: solid;
	border-color: gold;
}
.Pedido
{
	position: absolute;
	left: 950px;
	top: 850px;
	color: white;
	border-style: groove;
	border-color: gold;
}
