@charset "utf-8";
body
{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Pexels-photo-132694.jpg/1200px-Pexels-photo-132694.jpg);
	background-size: cover;
}
/* CSS Document */
.Bienvenida
{
	text-align: center;
	color: darkgreen;
}
.DatosUsuario
{
	font-size: 40px;
	font-style: normal;
	text-align: center;
}
.NameUser
{
	color: purple;
	margin: 1em;
	padding: 1em;
	font-size: 30px;
	border-style: groove;
	border-color: gold;
}
.OrdenP
{
	color: purple;
	margin: 1em;
	padding: 1em;
	border-style: groove;
	border-color: gold;
	font-size: 28px;
}
.Pst
{
	font-size: 40px;
	font-style: normal;
	text-align: center;
}
.Decoradocon
{
	font-size: 40px;
	font-style: normal;
	text-align: center;
}

.DecoracionP
{
	color: white;
	margin: 1em;
	padding: 1em;
	border-style:solid;
	border-color: gold;
	font-size: 28px;
}
.order
{
	text-align: center;
}
#titleI
{
	text-align: center;
	color: darkred;
}
#h2I
{
	margin: 1em;
	padding: 1em;
	
}
#DatosPrimeros
{
	color: blue;
}

table
{
	border: 2px solid black;
	border-style: solid;
	border-color: black;
}
th
{
	border: 2px solid black;
	border-style: solid;
	border-color: black;
}
td
{
	border: 2px solid black;
	border-style: solid;
	border-color: black;
}
.CanAccesorios
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	left: 500px;
}
#title2Acc
{
	margin: 1em;
	padding: 1em;
	position: absolute;
	left: 300px;
	top: 168px;
}
.MoverTabla1
{
	
	
	position: absolute;
	top: 250px;
	left:50px;
}
.MoverTabla
{
	position: absolute;
	left: 350px;
	top: 250px;
}
#PedidosHechos
{
	position: absolute;
	top: 195px;
	left: 800px;
}
.ultimaTabla
{
	position: absolute;
	top: 250px;
	left: 700px;
}
.dUTabla
{
	color: white;
}
